!   __   __                                                                   
!  /\ \ /\ \                                                                  
!  \ `\`\/'/'  _ __    __    ____    ___   __  __  _ __   ___     __    ____  
!   `\/ > <   /\`'__\/'__`\ /',__\  / __`\/\ \/\ \/\`'__\/'___\ /'__`\ /',__\ 
!      \/'/\`\\ \ \//\  __//\__, `\/\ \L\ \ \ \_\ \ \ \//\ \__//\  __//\__, `\
!      /\_\\ \_\ \_\\ \____\/\____/\ \____/\ \____/\ \_\\ \____\ \____\/\____/
!      \/_/ \/_/\/_/ \/____/\/___/  \/___/  \/___/  \/_/ \/____/\/____/\/___/ 
!                                                                             
!                                                                             
!  
!                                                                Version 1.0.0
!  
!                                                           Cristiano Vitorino
!                                         https://github.com/cristianovitorino
! 

! Font antialias
Xft.autohint: 0
Xft.antialias: 2
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!Reread the file and apply the settings:
!xrdb -load ~/.Xresources

! Color theme
! special
*.foreground:   #ffffff
! *.background:   #181B1E
*.background:   #1d1f23
*.cursorColor:  #c7ccd1

! black
! *.color0:       #1c2023
*.color0:       #1d1f23
*.color8:       #747c84

! red
*.color1:       #c7ae95
*.color9:       #c7ae95

! green
*.color2:       #95c7ae
*.color10:      #95c7ae

! yellow
*.color3:       #aec795
*.color11:      #aec795

! blue
*.color4:       #ae95c7
*.color12:      #ae95c7

! magenta
*.color5:       #c795ae
*.color13:      #c795ae

! cyan
*.color6:       #95aec7
*.color14:      #95aec7

! white
*.color7:       #c7ccd1
*.color15:      #f3f4f5
