configuration {
 modi:               "drun,ssh";
 theme:              "~/.config/rofi/themes/vitorino.rasi";
 font:               "Noto Sans Regular 10";
 combi-modi:         "drun,ssh";
 width:              18;
 eh:                 1;
 bw:                 3;
 lines:              10;
 sidebar-mode:       false;
 location:           0;
 show-icons:         false;
 icon-theme:         "Adwaita";
 separator-style:    none;
 }
